/*--------HEADER-----------------*/



.header__line1_show {
    position: absolute;
    top: 30px;
    right: 10%;
    height: 4px;
    width: 50px;
    border-radius: 10px;
    background-color: $secondarybg;

}

.header__line2_show {
    position: absolute;
    top: 40px;
    right: 10%;
    height: 4px;
    width: 35px;
    border-radius: 10px;
    background-color: $secondarybg;
}

.header__line1_hide {
    position: absolute;
    top: 35px;
    right: 0;
    height: 4px;
    width: 35px;
    border-radius: 10px;
    background-color: $secondarybg;
    transform: rotate(-135deg);

}

.header__line2_hide {
    position: absolute;
    top: 35px;
    right: 0;
    height: 4px;
    width: 35px;
    border-radius: 10px;
    background-color: $secondarybg;
    transform: rotate(135deg);

}

.header__navbar {
    margin: 0;
    box-shadow: none;
    width: 100%;
}

.header__menu {
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header__menuitem {
    margin: 0 0 2rem 0;
    font-size: 2rem;
}

.header__close {
    display: none;
}

/*--------FOOTER-----------------*/

.footer {
    padding: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    margin: 0;
}

.footer__inner {
    display: grid;
    grid-template-columns: 4rem repeat(6, 1fr) 4rem;
    padding: 0;

    a {
        color: #fff;
        text-decoration: underline;

        &:visited {
            color: #fff;
        }
    }

}

.footer__social,
.footer__contact,
.footer__resource,
.footer__logo,
.footer__copy {
    padding: 1.5rem 1rem;

    ul {
        flex-direction: column;

        li {
            margin: 0 0.5rem 0 0;
        }
    }

}

.footer__logo {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    a {
        font-size: 1.5rem;
        text-decoration: none;
    }
}

.footer__contact {
    grid-column: 2 / 5;
    grid-row: 2 / 4;

    i {
        margin: 0 1rem 0 0;
    }
}

.footer__resource {
    grid-column: 4 / 6;
    grid-row: 2 / 6;
    border-top: 1px solid transparent;
    justify-self: center;
}

.footer__social {
    grid-column: 6 / 8;
    grid-row: 2 / 6;
    border-top: 1px solid transparent;
    justify-self: center;

    ul {
        display: flex;
        flex-direction: row;
    }
}

.footer__copy {
    grid-column: 2 / 8;
    grid-row: 6 / 7;
    margin: 0;
}