/*--------HEADER-----------------*/

.header__home_smhide {
    display: none;
}

.header__hamburger {
    display: none;
}

.header__logo {
    width: 60%;
}

.header__navbar {
    position: relative;
    opacity: 1;
    display: flex;
    transition-property: none;
    margin: 0;
    animation: none;
    box-shadow: none;
    width: 100%;
}

.header__menu {
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.header__menuitem {
    margin: 0 0 0 2em;
    font-size: 0.9rem;
}

.header__menuitem_smhide {
    display: block;
}

.header__close {
    display: none;
}

/*--------FOOTER-----------------*/

.footer {
    padding: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    margin: 0;
}

.footer__inner {
    display: grid;
    grid-template-columns: 4rem repeat(6, 1fr) 4rem;
    padding: 0;

    a {
        color: #fff;
        text-decoration: underline;

        &:visited {
            color: #fff;
        }
    }

}

.footer__social,
.footer__contact,
.footer__resource,
.footer__logo,
.footer__copy {
    padding: 1.5rem 1rem;

    ul {
        flex-direction: column;

        li {
            margin: 0 0.5rem 0 0;
        }
    }

}

.footer__logo {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    a {
        font-size: 1.5rem;
        text-decoration: none;
    }
}

.footer__contact {
    grid-column: 2 / 5;
    grid-row: 2 / 4;

    i {
        margin: 0 1rem 0 0;
    }
}

.footer__resource {
    grid-column: 4 / 6;
    grid-row: 2 / 6;
    border-top: 1px solid transparent;
    justify-self: center;
}

.footer__social {
    grid-column: 6 / 8;
    grid-row: 2 / 6;
    border-top: 1px solid transparent;
    justify-self: center;

    ul {
        display: flex;
        flex-direction: row;
    }
}

.footer__copy {
    grid-column: 2 / 8;
    grid-row: 6 / 7;
    margin: 0;
}