* {
    font-size: 16px;
}

.subheaders {
    font-weight: 400;
    margin: 3em 0 0 0;
    position: relative;
    font-size: 2em;
}

.inner {
    max-width: 100%;
}
.wraparound{
    max-width: 64rem;
}

/*--------HEADER-----------------*/

.header {
    padding: 1em;
}

.header__home_smhide {
    display: none;
}

.header__hamburger {
    display: none;
}

.header__logo {
    display: flex;
    justify-content: stretch;
    position: relative;
    width: 40%;
}

.header__navbar {
    position: relative;
    opacity: 1;
    display: flex;
    transition-property: none;
    margin: 0;
    animation: none;
    box-shadow: none;
    width: 100%;
}

.header__menu {
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.header__menuitem {
    margin: 0 0 0 2em;
}

.header__menuitem_smhide {
    display: block;
}

.header__close {
    display: none;
}


/*--------LANDING-----------------*/

.main {
    display: flex;
    flex-direction: column;
}

.landing {
    align-items: center;
    margin: 0;
    position: relative;
}

.landing__inner {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.landing__valueprop {
    margin: 0;
    font-size: 24px;
    grid-column: 3 / 11;
    grid-row: 4 / 9;
    max-width: 80rem;
}

.landing__valueprop_span1 {
    font-size: 2em;
    font-weight: 700;
    margin: 0 0 1em 0;
}

.landing__valueprop_span2 {
    font-size: 1.6em;
    font-weight: 700;
    margin: 0 0 1em 0;
}

.landing__valueprop_span3 {
    font-size: 3em;
    font-weight: 700;
}


.landing__cta {
    grid-column: 1 / -1;
    grid-row: 10 / 11;
}

/*--------INTRO-----------------*/

.intro {
    padding: 0;
}

.intro__inner {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.intro__text {
    grid-column: 3 / 11;
    grid-row: 1 / 3;
    padding: 3rem 0 0 0;
    font-size: 1rem;
}

.intro__image {
    grid-column: 7 / 12;
    grid-row: 1 / 6;
    width: 25rem;
    height: 25rem;

    img {
        width: 100%;
        min-width: 25rem;
        max-width: 25rem;
        opacity: 0.8;
        object-fit: cover;
    }
}

/*--------ABOUT-----------------*/


.about__hero {
    background: $secondarybg;
    position: relative;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    margin: 1rem 0 0 0;
    max-width: 65rem;

    blockquote {
        font-size: 2.5em;
        grid-column: 2 / 7;
        grid-row: 1 / 6;
        margin: 0;
        text-align: left;
        justify-content: flex-end;
        align-self: flex-start;
    }

}

.about__quote {
    font-size: 1em;
    grid-column: 2 / 5;
    grid-row: 5 / 7;
    margin: 0;
    align-self: flex-start;
}

.about__hero_role {
    grid-column: 2 / 10;
    grid-row: 5 / 6;
}

.about__overlay {
    width: 100%;
    height: 100%;
    grid-column: 5 / 12;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.about__text {
    display: flex;
    flex-direction: column;
    p {
        padding: 0 0 1.6rem 0;
        text-align: left;
        grid-column: 3 / 11;
    }
}

.about__us {
    margin-bottom: 2rem;
}

.about__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__circle {
    margin: 0 0 2rem 0;
    width: 30rem;
    height: 150px;
    p {
        font-size: 0.75em;
        font-weight: normal;
    }
}
.about__circle_text{
    width: 40rem;
    p{
        text-align: left;
    }
}

.about__subscribe {
    max-width: 40rem;
}

/*--------APPROACH-----------------*/

.approach__about {
    padding: 2rem 0;
    align-items: center;

}


.approach__season1 {
    width: 70%;
    margin: 0 auto;
    display: flex;

}

.approach__banner {
    width: 100%;
    display: flex;
}

.approach__intro {
    width: 100%;
    flex-direction: column;

}

.approach__upcoming {

    ul {
        margin: 0 0 1em 0;
        display: flex;
        width: 70%;
        justify-content: center;

        li {
            margin: 1em;
        }
    }

    h3 {
        font-size: 1.4rem;

    }
}

/*--------NETWORK SCIENCE-----------------*/

.netscience {
    align-items: center;
    margin: 0 0 1em 0;
}

.netscience__inner_disc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.netscience__text {
    display: flex;
    flex-direction: column;
    

    p {
        padding: 1em 0;
    }
}

.netscience__apps {
    grid-template-columns: repeat(12, 1fr);
    max-width: 65rem;

    h3 {
        justify-self: center;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        margin: 2em 0;
    }

    button {
        grid-column: 1 / -1;
        grid-row: 20 / 21;
        justify-self: center;
    }
}


.netscience__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2.5em 0;

    h5 {
        font-size: 1em;
    }

    span {
        display: flex;
        width: 150px;
        height: 150px;
        position: relative;

        img {
            /*  position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); */
            object-fit: cover;
        }
    }
}

.netscience__circle1 {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
}

.netscience__circle2 {
    grid-column: 5 / 9;
    grid-row: 2 / 4;
}

.netscience__circle3 {
    grid-column: 9 / 12;
    grid-row: 2 / 4;
}

.netscience__circle4 {
    grid-column: 2 / 5;
    grid-row: 5 / 7;
}

.netscience__circle5 {
    grid-column: 5 / 9;
    grid-row: 5 / 7;
}

.netscience__circle6 {
    grid-column: 9 / 12;
    grid-row: 5 / 7;
}

/*--------FOOTER-----------------*/

.footer {
    padding: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    margin: 0;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0;

    a {
        color: #fff;
        text-decoration: underline;

        &:visited {
            color: #fff;
        }
    }

}

.footer__social,
.footer__contact,
.footer__resource,
.footer__logo,
.footer__copy {
    padding: 1.5rem 1rem;
    ul{
        flex-direction: column;
        li {
        margin: 0 0.5rem 0 0;
    } 
    }
    
}

.footer__logo {
    grid-column: 2 / 5;
    a {
        font-size: 1.5rem;
        text-decoration: none;
    }
}

.footer__contact {
    grid-column: 5 / 9;
    i {
        margin: 0 1rem 0 0;
    }
}

.footer__resource {
    grid-column: 9 / 11;
    border-top: 1px solid transparent;
}

.footer__social {
    grid-column: 11 / 12;
    border-top: 1px solid transparent;
    ul{
        display: flex;
        flex-direction: row;
    }
}

.footer__copy {
    grid-column: 2 / 12;
    grid-row: 2 / 6;
    margin: 0;
}