@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import 'variables';

/*--------MAIN-----------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-size: 100%;
    line-height: 1.6;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.cta__btn {
    border-radius: 20px;
    background: $secondarybg;
    color: #fff;
    padding: .2em;
    font-size: 0.8em;
    outline: none;
    border: none;
}

p {
    font-size: 0.8em;
}

.subheaders {
    font-weight: 300;
    text-transform: uppercase;
    align-self: center;
    margin: 4em 0 0 0;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        background: url('/illustrations/underline.png');
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: bottom;
    }
}

/*--------HEADER-----------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 1em;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 1;
    box-shadow: 0 -2px 15px #ddd;
}

.header__hamburger {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    background: #fff;
    cursor: pointer;

    i {
        font-size: 1.5em;
    }

    span {
        font-size: 0.9em;
    }
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 50px;

    img {
        display: inline-block;
        position: absolute;
        width: 70%;
        transform: translateY(-15%);
    }
}

.header__navbar {
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #272727;
    display: flex;
    opacity: 0.95;
    flex-direction: column;
    justify-content: space-around;
    transition-property: display, height, width;
    transform-origin: bottom;
    margin: 0;
    z-index: 1;
    animation: slide 0.5s ease-out;
    box-shadow: 2px 0 5px #272727;
}


.header__navbar_hide {
    display: none;
    transition-property: display, height, width;
}

.header__menu {
    padding: 0 2em;
    text-align: center;
}

.header__menuitem {
    position: relative;
    margin: 0 0 3em 0;
    cursor: pointer;
}

.header__close {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    margin: 0 0 0.5em 0;
    cursor: pointer;
}

/*--------LANDING-----------------*/

.landing {
    height: 13em;
    background: $primarybg;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3em 0 0 0;
    position: relative;
}

.landing__bg {
    position: absolute;
    width: 100%;
}

.landing__valueprop {
    margin: 0 0 1em 0;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.landing__valueprop_span1 {
    font-size: 1.2em;
    font-weight: 700;
}

.landing__valueprop_span2 {
    font-size: 1.3em;
    font-weight: 700;
}

.landing__valueprop_span3 {
    font-size: 1.6em;
    font-weight: 700;
}

.landing__cta {
    display: flex;
    flex-direction: column;

    svg {
        justify-self: flex-end;
    }
}

/*--------INTRO-----------------*/

.intro {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    padding: 1.5em;
    height: max-content;
    justify-content: space-around;
    align-items: center;

    button {
        grid-column: 2 / 5;
        grid-row: 8 / 5;
        width: 90%;
    }
}

.intro__text {
    grid-column: 1 / -1;
    grid-row: 2 / 6;
    padding: 1em 2em;
}

.intro__image {
    grid-column: 2 / -1;
    grid-row: 5 / 8;

    img {
        width: 100%;
        opacity: 0.7;
    }
}

/*--------ABOUT-----------------*/

.about {
    display: flex;
    flex-direction: column;
}

.about__hero {
    background: $secondarybg;
    height: 45vh;
    position: relative;
    display: grid;
    padding: 3em 0 0 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    justify-content: center;

    blockquote {
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
        grid-column: 1 / -1;
        grid-row: 1 / 5;
        margin: 1em 1em 0.3em;
        text-align: center;
    }

    span {
        color: #fff;
        font-size: 0.8em;
        background-color: transparent;
        grid-column: 2 / -1;
        grid-row: 4 / 4;
        margin: 1em 0 0 4em;
    }
}

.about__overlay {
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 4 / 8;

    img {
        width: 100%;
    }
}

.about__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        padding: 1.6em;
        text-align: center;
    }

    button {
        width: 30%;
    }
}

.about__us.subheaders {
    margin: 1em 0 0 0;
}

.about__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    margin: 1em 0 0 0;
    padding: 1em;

}

.about__circle {
    width: 130px;
    height: 130px;
    background: $primarybg;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 0 0 1em 0;

    img {
        width: 50%;
    }

    p {
        font-size: 0.60em;
        font-weight: bold;
        word-wrap: break-word;
        padding: 0 2em;
        display: flex;
        text-align: center;
    }
}


.about__circle1 {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.about__circle2 {
    grid-column: 4 / -1;
    grid-row: 1 / 4;
}

.about__circle3 {
    grid-column: 1 / 4;
    grid-row: 5 / 8;
}

.about__circle4 {
    grid-column: 4 / -1;
    grid-row: 5 / 8;
}

.about__circle5 {
    grid-column: 1 / 4;
    grid-row: 9 / 12;
}

.about__circle6 {
    grid-column: 4 / -1;
    grid-row: 9 / 12;
}

.about__circle7 {
    grid-column: 1 / -1;
    grid-row: 13 / 16;
}


/*--------APPROACH-----------------*/

.approach {
    display: flex;
    flex-direction: column;
}

.approach__details {
    display: flex;
    flex-direction: column;
}

.approach__about {
    display: flex;
    flex-direction: column;
    padding: 2em;

    p {
        margin: 0 0 1em 0;
    }
}

.approach__banner {
    background: $primarybg;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
}

.approach__seasons {
    display: flex;
    flex-direction: column;

    p {
        padding: 2em;
    }
}

.approach__season1 {
    height: 50vh;
    background: $primarybg;

    img {
        width: 100%;
    }
}

.approach__upcoming {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        width: 50%;
    }
    ul{
        margin: 0 0 1em 0;
        li{
            font-size: 0.9em;
            margin: 0 0 0.5em 0;
            i{
                margin: 0 1em 0 0;
            }
        }
    }
    
    h3{
        font-weight: 600;
    }
}

/*--------NETWORK SCIENCE-----------------*/

.netscience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.netscience__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
        padding: 1.5em 2em 0;
        font-size: 0.9em;
    }

    p {
        padding: 1.5em 2em 0;
    }
}

.netscience__apps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;

    h3 {
        justify-self: center;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        margin: 2em 0;
    }

    button {
        grid-column: 1 / -1;
        grid-row: 20 / 21;
        width: 50%;
        justify-self: center;
    }
}

.netscience__circle {
    width: 200px;
    height: 200px;
    background: $primarybg;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2em 0;

    h5 {
        font-size: 0.7em;
    }

    img {
        width: 40%;
    }

    p {
        word-wrap: break-word;
        padding: 0 2em;
        justify-self: center;
        text-align: center;
        font-size: 0.6em;
    }
}

.netscience__circle1 {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
}

.netscience__circle2 {
    grid-column: 1 / -1;
    grid-row: 5 / 7;
}

.netscience__circle3 {
    grid-column: 1 / -1;
    grid-row: 8 / 10;
}

.netscience__circle4 {
    grid-column: 1 / -1;
    grid-row: 11 / 13;
}

.netscience__circle5 {
    grid-column: 1 / -1;
    grid-row: 14 / 16;
}

.netscience__circle6 {
    grid-column: 1 / -1;
    grid-row: 17 / 19;
}

/*--------FOOTER-----------------*/

.footer {
    height: 50vh;
    background: $secondarybg;
    margin: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
}

.footer__contact {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    span {
        margin: 0.5em;
    }

    div {
        display: flex;

        i {
            padding: 0.2em;
            font-size: 1.5em;
        }
    }

    p {
        justify-self: center;
        text-align: center;
    }
}

.footer__social {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    div {
        i {
            padding: 0.2em;
            font-size: 1.5em;
        }
    }
}

/*--------MEDIA QUERIES--------*/

/*Medium screen-----------------------------*/

@media screen and (min-width: 768px) {
    @import 'medium';
}

/*large screen-----------------------------*/

@media screen and (min-width: 768px) {
    @import 'medium';
}

/*--------BACKGROUNDS--------*/

.pagebg {
    background: url('/illustrations/dottedbg.png');
    background-repeat: no-repeat;
}

/*--------ANIMATIONS--------*/

@keyframes slide {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 0.75;
    }
}