@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
/*--------MAIN-----------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-size: 100%;
  line-height: 1.6;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.cta__btn {
  border-radius: 20px;
  background: #03243C;
}

/*--------HEADER-----------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 0 1em;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 1;
}

.header__navbar {
  position: absolute;
  height: 100vh;
  width: 18em;
  right: 0;
  background: #03243C;
  opacity: 0.92;
  color: #fff;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.header__menu {
  padding: 0 2em;
}

.header__menuitem {
  margin: 0 0 3em 0;
  cursor: pointer;
}

/*--------LANDING-----------------*/
.landing {
  height: 27vh;
  background: #FFDE70;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  margin: 3em 0 0 0;
  font-style: italic;
}

.landing__valueprop {
  margin: 0 0 1em 0;
  font-weight: 700;
  font-size: 1.1em;
}

/*--------INTRO-----------------*/
.intro {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  background: url("/illustrations/dottedbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.5em;
  height: max-content;
  justify-content: space-around;
  align-items: center;
}
.intro button {
  grid-column: 2/5;
  grid-row: 8/5;
  color: #fff;
  width: 90%;
  padding: 0.2em;
  font-size: 0.8em;
  outline: none;
  border: none;
}

.intro__text {
  grid-column: 1/-1;
  grid-row: 2/6;
  font-size: 0.9em;
}

.intro__image {
  grid-column: 2/-1;
  grid-row: 5/8;
}
.intro__image img {
  width: 15em;
  opacity: 0.7;
}

/*--------ABOUT-----------------*/
.about {
  display: flex;
  flex-direction: column;
}

.about__hero {
  background: #03243C;
  height: 40vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  justify-content: center;
}
.about__hero blockquote {
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  grid-column: 1/-1;
  grid-row: 1/3;
  margin: 1em auto 0.3em;
  text-align: center;
}
.about__hero span {
  color: #fff;
  font-size: 0.8em;
  background-color: transparent;
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: 0 0 0 4em;
}

.about__overlay {
  background: url("/illustrations/balloon.png");
  background-size: 95%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 2/7;
}

.about__text {
  padding: 2em;
  font-size: 0.9em;
}

/*--------APPROACH-----------------*/
/*--------NETWORK SCIENCE-----------------*/
/*--------FOOTER-----------------*/
/*--------MEDIA QUERIES--------*/
/*Medium screen-----------------------------*/
/*large screen-----------------------------*/
/*--------BACKGROUNDS--------*/

/*# sourceMappingURL=style.css.map */
